<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SirRandall</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <div class="nav-brand">
                    <a href="#"><img src="{{ url_for('static', filename='img/srg.png') }}" alt="brand-image"></a>
                </div>
                <a href="/"><li>Home</li></a>
		        <a href="#"><li id="open-modal">About</li></a>
		        <div id="about-modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h1>About</h1>
                        <p>Mario Maker Stream Helper</p>
                        <p>Written by SirRandall and Gijs</p>
                        <p>This is opensource under the GPL licence</p>
                    </div>
                </div>
                <a href="#"><li class = "selected">Played Levels</li></a>
                <a href="#"><li>Contact</li></a>
                <hr>
            </ul>
        </nav>
        <section class="queue">
            <h1>Queue</h1>

            {% for level in records %}
            <div class="level">
                <div class="heading">
                    <p id="course-name">{{ level["coursename"] }}</p>
                </div>
                <div class="heading-1">
                    {% if session['admin'] %}
                        <p id="queue-index">
                            {{ 'Current' if not records.index(level) else records.index(level) }}
                            <i onclick="next({{ records.index(level) }})" class="fa fa-trash" aria-hidden="true"></i>
                        </p>
                    {% else %}
                        <p id="queue-index">{{ 'Current' if not records.index(level) else records.index(level) }}</p>
                    {% endif %}
                </div>
                <div class="level-img-long"><img src="{{ level["level_img_long"] }}"></div>
                <div class="level-info">
                    <p id="author">{{ level["name"] }}</p>
                    <p id="id" onclick='openbook("https://supermariomakerbookmark.nintendo.net/courses/{{ level["level_id"] }}")'>{{ level["level_id"] }}</p>
                    <p id="platform">{{ level["platform"] }}</p>
                </div>
                <div class="level-img"><img src="{{ level["img_url"] }}"></div>
            </div>
            {% endfor %}
        </section>
    </div> 

    <script>
        function openbook(url) {
            window.open(url, "_blank");
        }

        var modal = document.getElementById('about-modal');
        var btn = document.getElementById("open-modal");
        var span = document.getElementsByClassName("close")[0];
        
        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }
        
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        </script>

</body>
</html>
